* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #eceff4;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #2a2f3a;
}

/* Workspace Buttons */
#workspaces button label{
  padding: 0 20px;
}

#workspaces button.active label {
  color: #2a2f3a;
}

#workspaces button:hover {
  background: #4c566a;
}

#workspaces button.active {
  background: #b48ead;
}

#clock, #battery, #pulseaudio, #tray, #language, #weather {
  padding: 0 10px;
}

#language {
  color: #ebcb8b;
  border-bottom: 5px solid #ebcb8b;
}

#custom-weather {
  color: #a3be8c;
  border-bottom: 5px solid #a3be8c
}

#pulseaudio {
  color: #8fbcbb;
  border-bottom: 5px solid #8fbcbb;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #bf616a;
  border-bottom: 5px solid #bf616a;
}

#battery {
  color: #81a1c1;
  border-bottom: 5px solid #81a1c1;
}

#clock {
  color: #b48ead;
  border-bottom: 5px solid #b48ead;
}

#tray {
  color: #bf616a;
  border-bottom: 5px solid #bf616a;
}
